/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {}


/******************************************
/* LAYOUT
/*******************************************/
* {

  border: 1px solid red;
}

header,
main,
aside {
  float: left;
}

header {
  width: 20%;
  height: 100vh;
}

main {
  width: 50%;
}

aside {
  width: 30%;
  height: 90vh;
}


ul {
  list-style: none;
}

section {
  overflow: hidden;
}

nav>img {
  width: 40%;
  height: auto;
  align-self: center;
}

nav>img+a {
  display: block;
}

main>img {
  width: -webkit-fill-available;
}


section>div {
  float: left;
  width: 33%;
}

section>p {
  float: left;
  width: 33%;
  margin: 0;
}

section>img {
  width: 33%;
  float: left;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/