body {
    background-color: #87CEEB;
    color: white;
    width: 90%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}

section {
    border: 3px solid #48CD31;
    margin: 3%;
    padding: 4%;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    font-weight: 300;
}

h2 {
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}


article {
    margin: 20px auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}

img {
    float: right;
    max-width: 25%;
    height: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

span {
    color: purple;
}

a {
    color: #48CD31;
}